<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
<div id="comments">
  <div id="add-comment">
    <input type="text" placeholder="username">
    <input type="text" placeholder="comment">
    <button>留言</button>
  </div>
  <div id="comments-detail">
    你的留言
    <li><span>jack</span><span> : </span>你好</li>
    <li><span>tom</span><span> : </span>hello</li>
    <li><span>white</span><span> : </span>hi</li>
  </div>
</div>
</body>
</html>
